kube-prometheus-stack:
  prometheus:
    prometheusSpec:
      storageSpec:
        volumeClaimTemplate:
          spec:
            storageClassName: nfs-client
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 10Gi

  grafana:
    enabled: true
    adminPassword: "admin"
    persistence:
      enabled: true
      storageClassName: nfs-client
      size: 5Gi

    grafana.ini:
      date_formats:
        default_timezone: Asia/Seoul

  nodeExporter:
    enabled: true